body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #215350;
  color: #060606;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-question {
  max-width: 490px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.sum {
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
}

.bg-img {
  max-width: 90%;
  max-height: auto;
  display: flex;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.action-button {
  width: 100px;
  margin: 15px 25px;
  padding: 5px 5px;
  background-color: #3a6c69;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 1px 3px gray;
  font-size: 18px;
}

button:hover {
  background-color: #548683;
  cursor: pointer;
}

.radio-btn {
  accent-color: black;
}

.radio-btn:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-secondary {
  color: #dff0f9;
}

.container-qst {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.container-info {
  display: flex;
  font-size: 14px;
  border: 1px solid grey;
  padding: 0.5rem;
  flex-direction: column;
}
.container-info h3 {
  margin-top: 1px;
}

.error-message {
  margin: 0;
  color: #ab2828;
  font-weight: bold;
}

label,
select {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 670px) {
  .sum {
    font-size: 16px;
    display: flex;
    padding: 1rem;
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .container-question {
    font-size: 14px;
    display: flex;
    margin: 2rem;
  }
}
@media (max-width: 690px) {
  .container-info {
    font-size: 12px;
    display: flex;
    padding: 1;
  }
}

/* @media (max-width: 670px) {
  .container-question {
    font-size: 12px;
    display: flex;
    padding: 1rem;
    margin: 2rem;
  }
} */
